.DS_Store
kicad/*.pos
kicad/*.lck
kicad/*.zip
kicad/*.gbr
kicad/*.gbrjob
kicad/*.numbers
kicad/ECP5_Audio-backups
kicad/fp-info-cache
kicad/_autosave-
kicad/#auto_saved_files#
kicad/fp-lib-table
kicad/sym-lib-table
symbols/*.bak


